.ingrImg {
    width: 80px;
}

.item {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 50px;
}

.btn {
    border: none;
    background-color: white;
    cursor: pointer;
}

.itemInfo {
    display: flex;
    justify-content: space-between;
}